@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap");
.section-badge {
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-transform: capitalize;
  padding: 4px 8px;
  display: flex;
  gap: 10px;
  align-items: center;
  width: fit-content;
  border-radius: 100vw;
  background-color: #4ABB82;
}
.section-badge img {
  width: 20px;
}
@media (min-width: 992px) {
  .section-badge {
    font-size: 16px;
  }
}
@media (max-width: 991px) {
  .section-badge {
    font-size: 12px;
  }
}

.section-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 992px) {
  .section-header h1 {
    font-size: 48px;
    line-height: 71px;
  }
  .section-header p {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .section-header h1 {
    font-size: 30px !important;
    line-height: 40px;
  }
  .section-header p {
    font-size: 16px;
  }
}
.section-header h1 {
  max-width: 93%;
  font-weight: 700;
}
.section-header p {
  max-width: 80%;
  color: #333f51;
  font-style: normal;
  font-weight: 300;
}

.section-button.green {
  text-decoration: none;
  color: white !important;
  background-color: #4ABB82;
  border: 1.5px solid #4ABB82;
  border-radius: 100vw;
  padding: 10px 30px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 500;
}

.section-button.white {
  text-decoration: none;
  color: #1D1D35 !important;
  border-radius: 100px;
  border: 1px solid #d5dae1;
  box-shadow: 0px 1px 2px 0px rgba(105, 81, 255, 0.05);
  padding: 10px 30px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 500;
}

.more-link {
  display: inline-block;
  position: relative;
  color: #4ABB82;
  font-weight: 500;
  font-size: 18px;
  text-transform: capitalize;
  margin-top: 30px;
}

.more-link::after {
  content: "";
  width: 25px;
  height: 25px;
  background-size: cover;
  background-image: url("../assets/images/arrow.svg");
  position: absolute;
  top: 50%;
  transform: translateY(-53%);
  right: -25px;
}

body {
  --tabs-icon-margin: auto 0 auto 10px;
}

body[dir=rtl] {
  --tabs-icon-margin: auto 0 auto 10px;
}
body[dir=rtl] .more-link::after {
  left: -25px !important;
  right: auto;
  rotate: -180deg;
  transform: translateY(53%);
}

body {
  font-family: "Alexandria", sans-serif !important;
  background-color: #f8f9fa;
}

html {
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  margin-bottom: 0 !important;
  padding-left: 0 !important;
}

.container {
  margin-left: auto !important;
  margin-right: auto !important;
}

h1 {
  color: #4ABB82;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
}

nav {
  padding: 30px 0;
  width: 100%;
  position: relative;
  display: flex;
}
nav .logo {
  display: block;
  width: 120px;
  text-align: center;
}
nav .logo img {
  width: 100%;
}

nav.nav-scroll {
  background: rgba(255, 255, 255, 0.83);
  backdrop-filter: blur(18px);
}

.nav-links {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 45px;
  text-transform: capitalize;
}

.nav-links li a {
  text-decoration: none;
  font-size: 16px;
  color: #1D1D35;
  font-weight: 500;
  position: relative;
  transition: all ease-in-out 250ms;
}

.nav-links li a:hover {
  color: #4ABB82;
}

.nav-links li {
  position: relative;
}

.nav-links li a::before {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 0%;
  background-color: #4ABB82;
  transition: all ease-in-out 250ms;
}

.nav-links li a:hover::before {
  width: 100%;
}

/*Styling Buttons*/
.login-button {
  text-decoration: none;
  color: #1D1D35 !important;
  border-radius: 100px;
  border: 1px solid #d5dae1;
  box-shadow: 0px 1px 2px 0px rgba(105, 81, 255, 0.05);
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
}

.login-button:hover {
  color: #131418;
  border: 1.5px solid black;
  transition: all ease-in-out 350ms;
}

.book-button {
  text-decoration: none;
  color: white !important;
  background-color: #4ABB82;
  border: 1.5px solid #4ABB82;
  border-radius: 100vw;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
}

.book-button:hover {
  color: #4ABB82;
  background-color: transparent;
  border: 1.5px solid #4ABB82;
  transition: all ease-in-out 350ms;
}

/* Styling Langauge switched*/
.language-switch {
  cursor: pointer;
  display: flex;
}
.language-switch img {
  width: 25px;
}
.language-switch button {
  all: unset !important;
  font-size: 20px !important;
  font-weight: 600 !important;
}
.language-switch button.active {
  display: none !important;
}

/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: black;
  margin: 5px;
  transition: all 0.3s ease;
}

.hamburger {
  display: none;
}

.btn-holder-responsive {
  display: none;
}

/*Stying for small screens*/
@media (max-width: 992px) {
  nav {
    z-index: 3;
  }
  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 2;
    transition: all 0.7s ease;
  }
  .nav-links {
    box-sizing: border-box;
    position: fixed;
    top: 90px;
    left: 0;
    border-top: 1px solid #e1e3e5;
    background: white;
    height: 90vh;
    width: 100vw;
    padding: 10px !important;
    gap: 0px;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 0.4s ease-out;
    pointer-events: none;
    align-items: flex-start;
  }
  .nav-links.open {
    clip-path: circle(1200px at 90% 10%);
    -webkit-clip-path: circle(1200px at 90% 10%);
    pointer-events: all;
  }
  .nav-links li {
    opacity: 1;
    margin: 20px;
  }
  .btn-holder-responsive {
    display: block;
    margin: 0 !important;
    margin-top: auto !important;
    width: 100%;
    padding-left: 13px;
    padding-right: 20px;
    margin-bottom: 30px;
  }
  .btn-holder-responsive a {
    text-align: center;
    margin: 10px 0;
    display: block;
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .nav-links {
    gap: 25px;
  }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.partner-section {
  padding: 89px 0 !important;
  background: rgba(234, 254, 241, 0.3);
}
.partner-section .logos-holder {
  display: flex;
  gap: 70px;
  justify-content: center;
  flex-wrap: wrap;
}
.partner-section .logos-holder img {
  width: 130px;
  max-height: 30px;
}

.services-tabs {
  flex-wrap: nowrap !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-radius: 100px;
  background: #f5f7fa;
  padding: 10px 30px !important;
  overflow: hidden;
  justify-content: space-between;
  border-bottom: none !important;
}
.services-tabs span {
  display: inline-block;
  margin: var(--tabs-icon-margin);
  color: #556987;
  font-size: 20px;
}
.services-tabs .nav-link {
  display: flex;
  gap: 10px;
  padding: 12px 65px !important;
  border-radius: 87.048px !important;
}
.services-tabs .nav-link.active {
  background: var(--white, #fff);
  box-shadow: 0px 3.439px 13.754px 0px rgba(0, 0, 0, 0.06);
  border: none;
}
.services-tabs .nav-link.active span {
  color: #1d1d35 !important;
}
@media (max-width: 1200px) {
  .services-tabs .nav-link {
    padding: 12px 45px !important;
    border-radius: 87.048px !important;
  }
}
@media (max-width: 992px) {
  .services-tabs {
    overflow-x: scroll !important;
    box-shadow: 0px 0px 4px 0px inset rgba(0, 0, 0, 0.3882352941);
  }
}

.tab-content .active {
  display: flex !important;
}
.tab-content .tab-pane {
  justify-content: space-between;
}
@media (min-width: 992px) {
  .tab-content .tab-pane h1 {
    line-height: 120%;
    font-size: 42px;
  }
  .tab-content .tab-pane p {
    font-size: 20px;
    line-height: 150%;
  }
  .tab-content .tab-pane ul li {
    font-size: 20px;
    line-height: 150%;
  }
}
@media (max-width: 991px) {
  .tab-content .tab-pane h1 {
    line-height: 38px;
    font-size: 30px;
  }
  .tab-content .tab-pane p {
    font-size: 16px;
    line-height: 150%;
  }
  .tab-content .tab-pane ul li {
    font-size: 16px;
    line-height: 150%;
  }
}
.tab-content .tab-pane h1 {
  font-weight: 700;
  margin-bottom: 20px;
}
.tab-content .tab-pane p {
  font-style: normal;
  font-weight: 300;
  width: 95%;
  margin: 30px 0;
}
.tab-content .tab-pane ul {
  list-style-image: url("../assets/images/list-style-arrow.svg");
  margin-left: 20px;
  margin-right: 20px;
}
.tab-content .tab-pane ul li {
  color: "#333F51";
  font-weight: 300;
  margin-top: 10px;
}

.feilds-section .section-header {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
.feilds-section .section-header h1 {
  max-width: 100%;
}
.feilds-section .section-header img {
  position: absolute;
  width: 35px;
}
@media (max-width: 576px) {
  .feilds-section .section-header img {
    display: none;
  }
}
.feilds-section .section-header .img-1 {
  right: -20px;
  top: -15px;
}
.feilds-section .section-header .img-2 {
  top: -20px;
  left: -40px;
}
.feilds-section .section-header .content-holder {
  display: flex;
}
.feilds-section .content-holder {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 100px;
  grid-row-gap: 30px;
}
@media (max-width: 1201px) {
  .feilds-section .content-holder {
    grid-column-gap: 10px;
  }
}
@media (max-width: 992px) {
  .feilds-section .content-holder {
    grid-column-gap: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .feilds-section .content-holder .iphone-holder {
    order: 10;
  }
  .feilds-section .content-holder .feilds-card {
    min-width: 50%;
  }
}
@media (max-width: 570px) {
  .feilds-section .content-holder .feilds-card {
    padding: 12px 6px;
  }
  .feilds-section .content-holder .feilds-card img {
    width: 30px;
  }
  .feilds-section .content-holder .feilds-card h1 {
    margin: 15px 0;
    font-size: 16px;
  }
  .feilds-section .content-holder .feilds-card p {
    font-size: 14px;
  }
}
.feilds-section .iphone-holder {
  grid-area: 1/2/4/3;
}
.feilds-section .iphone-holder img {
  height: 100%;
  object-fit: contain;
}
.feilds-section .feilds-card {
  min-width: 300px;
  max-width: 300px;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  transition: 0.3s ease-in-out;
  box-shadow: 0px 0px 0px 0px rgba(120, 120, 120, 0.11);
}
.feilds-section .feilds-card:hover {
  box-shadow: 0px 40px 70px 0px rgba(120, 120, 120, 0.11);
}
.feilds-section .feilds-card .img-holder {
  width: 44px;
  margin-left: auto;
  margin-right: auto;
}
.feilds-section .feilds-card .img-holder img {
  width: 100%;
}
.feilds-section .feilds-card h1 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  margin: 20px 0;
}
.feilds-section .feilds-card p {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
}

.why-us-section {
  padding: 89px 0 !important;
  background: rgba(234, 254, 241, 0.3);
}
.why-us-section .why-us-card {
  margin-bottom: 30px;
  width: 30%;
  border-radius: 8px;
  padding: 38px 20px;
  text-align: center;
  transition: 0.3s ease-in-out;
  background-color: transparent;
}
@media (max-width: 991px) {
  .why-us-section .why-us-card {
    width: 48%;
  }
}
@media (max-width: 576px) {
  .why-us-section .why-us-card {
    width: 100%;
  }
}
.why-us-section .why-us-card:hover {
  background-color: #4ABB82;
}
.why-us-section .why-us-card:hover h1 {
  color: white;
}
.why-us-section .why-us-card:hover p {
  color: white;
}
.why-us-section .why-us-card .img-holder {
  width: 20px;
  height: 20px;
  padding: 30px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.why-us-section .why-us-card .img-holder img {
  width: 30px;
}
.why-us-section .why-us-card h1 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin: 20px 0;
}
.why-us-section .why-us-card p {
  color: black;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
}

.pricing-section {
  background-image: url("../assets/images/pricing-bg.svg");
  background-size: cover;
}
.pricing-section .pricing-card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  border: 1px solid #d4d6d9;
  background-color: white;
  margin-bottom: 30px;
  width: 32%;
  padding: 15px 25px;
  position: relative;
  top: 0;
  transition: 0.3s ease-in-out;
}
@media (max-width: 991px) {
  .pricing-section .pricing-card {
    width: 48%;
  }
}
@media (max-width: 576px) {
  .pricing-section .pricing-card {
    width: 100%;
  }
}
.pricing-section .pricing-card .name {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 35px;
}
.pricing-section .pricing-card .name p {
  font-size: 24px;
  margin-bottom: 0 !important;
}
.pricing-section .pricing-card .name .img-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  padding: 10px;
  border-radius: 50%;
  background: rgba(238, 240, 243, 0.5);
}
.pricing-section .pricing-card .name .img-holder img {
  width: 35px;
}
.pricing-section .pricing-card .sub-header {
  font-size: 16px !important;
  font-style: normal;
  font-weight: 300;
  margin: 20px 0;
  color: #556987;
}
.pricing-section .pricing-card h1 {
  font-size: 48px;
  font-weight: 600;
  padding-bottom: 20px;
  border-bottom: 1px solid #d4d6d9;
}
.pricing-section .pricing-card ul {
  margin: 0 25px;
  margin-bottom: 30px !important;
  list-style-image: url("../assets/images/check.svg");
}
.pricing-section .pricing-card ul li {
  margin: 10px 0;
  font-size: 16px;
  font-weight: 300;
}
.pricing-section .pricing-card .price-btn {
  display: block;
  text-align: center;
  padding: 12px;
  border-radius: 100px;
  border: 1px #d5dae1 solid;
  text-decoration: none;
  color: black;
  margin: auto 0 10px;
}
.pricing-section .pricing-card .duration {
  font-size: 20px;
  font-weight: 300;
  opacity: 0.8;
}
.pricing-section .pricing-card:hover {
  top: -10px;
}
.pricing-section .pricing-card.prime {
  background-color: #1D1D35;
}
.pricing-section .pricing-card.prime h1,
.pricing-section .pricing-card.prime p,
.pricing-section .pricing-card.prime li {
  color: white;
}
.pricing-section .pricing-card.prime h3 {
  color: rgba(255, 255, 255, 0.8);
}
.pricing-section .pricing-card.prime ul {
  filter: brightness(300);
}
.pricing-section .pricing-card.prime .price-btn {
  color: white;
  border: 1px rgba(255, 255, 255, 0.75);
  background: rgba(255, 255, 255, 0.15);
}

.testimonial-section {
  border-bottom: 1px solid #d5dae1;
}
.testimonial-section .carousel-item {
  padding: 60px;
  text-align: center;
}
.testimonial-section .carousel-item h1 {
  position: relative;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
}
.testimonial-section .carousel-item h1::after {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  width: 142px;
  height: 98px;
  background-image: url(../assets/images/qoute.svg);
  background-size: cover;
  z-index: -1;
  rotate: 180deg;
}
.testimonial-section .carousel-item h1::before {
  content: "";
  position: absolute;
  bottom: -50px;
  right: 0;
  width: 142px;
  height: 98px;
  background-image: url(../assets/images/qoute.svg);
  background-size: cover;
  z-index: -1;
}
.testimonial-section .carousel-item .img-holder {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.testimonial-section .carousel-item .img-holder img {
  width: 100%;
}
.testimonial-section .carousel-item h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.testimonial-section .carousel-item p {
  color: #404f65;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
@media (max-width: 992px) {
  .testimonial-section .carousel-item {
    padding: 30px;
    margin-bottom: 90px !important;
  }
  .testimonial-section .carousel-item h1 {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  .testimonial-section .carousel-item h1::after {
    content: "";
    position: absolute;
    top: -50px;
    left: 0;
    width: 64px;
    height: 44px;
    background-image: url(../assets/images/qoute.svg);
    background-size: cover;
    z-index: -1;
    rotate: 180deg;
  }
  .testimonial-section .carousel-item h1::before {
    content: "";
    position: absolute;
    bottom: -50px;
    right: 0;
    width: 64px;
    height: 44px;
    background-image: url(../assets/images/qoute.svg);
    background-size: cover;
    z-index: -1;
  }
  .testimonial-section .carousel-item .img-holder {
    width: 58px;
    height: 58px;
  }
  .testimonial-section .carousel-item h3 {
    font-size: 28px;
  }
  .testimonial-section .carousel-item p {
    font-size: 14px;
  }
}
.testimonial-section .carousel-indicators button {
  background-color: #d5dae1;
  opacity: 1;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-left: 8px;
  margin-right: 8px;
}
.testimonial-section .carousel-indicators button.active {
  background-color: #4ABB82;
}
@media (max-width: 992px) {
  .testimonial-section .carousel-indicators {
    margin-bottom: 0 !important;
  }
}
.testimonial-section .carousel-control-next,
.testimonial-section .carousel-control-prev {
  all: unset;
  background-color: rgba(187, 195, 207, 0.501);
  position: absolute;
  transform: translateY(-50%);
  border-radius: 50%;
  opacity: 1;
  padding: 12px 16px;
  transition: 0.3s ease-in-out;
}
.testimonial-section .carousel-control-next img,
.testimonial-section .carousel-control-prev img {
  filter: brightness(1);
  transition: 0.3s ease-in-out;
}
@media (min-width: 992px) {
  .testimonial-section .carousel-control-next,
  .testimonial-section .carousel-control-prev {
    top: 50%;
  }
}
@media (max-width: 992px) {
  .testimonial-section .carousel-control-next,
  .testimonial-section .carousel-control-prev {
    bottom: 37px;
  }
}
.testimonial-section .carousel-control-prev {
  transform: scale(-1) translateY(50%);
}
@media (max-width: 468px) {
  .testimonial-section .carousel-control-prev {
    left: 33% !important;
  }
}
@media (min-width: 468px) {
  .testimonial-section .carousel-control-prev {
    left: 38% !important;
  }
}
@media (min-width: 768px) {
  .testimonial-section .carousel-control-prev {
    left: 42% !important;
  }
}
@media (min-width: 992px) {
  .testimonial-section .carousel-control-prev {
    left: 0 !important;
  }
}
@media (max-width: 468px) {
  .testimonial-section .carousel-control-next {
    right: 33%;
  }
}
@media (min-width: 468px) {
  .testimonial-section .carousel-control-next {
    right: 38%;
  }
}
@media (min-width: 768px) {
  .testimonial-section .carousel-control-next {
    right: 42%;
  }
}
@media (min-width: 992px) {
  .testimonial-section .carousel-control-next {
    right: 0;
  }
}
.testimonial-section .carousel-control-next:focus,
.testimonial-section .carousel-control-next:hover,
.testimonial-section .carousel-control-prev:focus,
.testimonial-section .carousel-control-prev:hover {
  background-color: #4ABB82;
}
.testimonial-section .carousel-control-next:focus img,
.testimonial-section .carousel-control-next:hover img,
.testimonial-section .carousel-control-prev:focus img,
.testimonial-section .carousel-control-prev:hover img {
  filter: brightness(10);
}
.testimonial-section .carousel-control-prev-icon,
.testimonial-section .carousel-control-next-icon {
  all: unset !important;
}

.story-section .story-card {
  margin-bottom: 30px;
  width: 32%;
  border-radius: 8px;
  position: relative;
  transition: 0.3s ease-in-out;
  background-color: transparent;
}
@media (max-width: 991px) {
  .story-section .story-card {
    width: 48%;
  }
}
@media (max-width: 576px) {
  .story-section .story-card {
    width: 100%;
  }
}
.story-section .story-card .img-holder {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 6px;
}
.story-section .story-card .img-holder img {
  width: 100%;
}
.story-section .story-card .img-holder::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/story-over-lay.svg);
  background-size: contain;
}
.story-section .story-card .img-holder .info-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background-image: url(../assets/images/partner-name-holder.svg);
  z-index: 100;
  width: 200px;
  height: 84px;
  background-size: cover;
  padding-right: 50px;
}
.story-section .story-card .img-holder .info-holder h1 {
  color: white;
  font-size: 15px;
  margin-bottom: 0;
  line-height: 20px;
}
.story-section .story-card .img-holder .info-holder p {
  font-size: 10px;
  margin-bottom: 0;
  color: white;
}
.story-section .story-card .date {
  color: #8896ab;
  margin: 10px 0;
  font-size: 14px;
  font-weight: 400;
}
.story-section .story-card h1 {
  color: #1d1d35;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.story-section .story-card p {
  color: #333f51;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.story-section .story-card .tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.story-section .story-card .tags div {
  color: #131418;
  background-color: #f3f4f5;
  padding: 4px 12px;
  border-radius: 100px;
}

.faq-section {
  background: rgba(234, 254, 241, 0.3);
}
.faq-section .accordion .accordion-item {
  background-color: white;
  margin-bottom: 40px;
  border: 2px solid, #1d1d35;
  background: #fff;
  border-top-left-radius: var(--bs-accordion-border-radius);
  border-top-right-radius: var(--bs-accordion-border-radius);
  border-bottom-left-radius: var(--bs-accordion-border-radius);
  border-bottom-right-radius: var(--bs-accordion-border-radius);
}
.faq-section .accordion .accordion-button {
  justify-content: space-between;
}
.faq-section .accordion .accordion-button::after {
  margin-left: 0;
  background-image: url("../assets/images/Plus.svg");
}
.faq-section .accordion .accordion-button:focus {
  border-color: none;
  outline: 0;
  box-shadow: none;
}
.faq-section .accordion .accordion-button:not(.collapsed) {
  background-color: white;
}

.ready-section {
  padding-top: 70px;
}
.ready-section .ready-img {
  text-align: center;
  overflow: hidden;
}
.ready-section .ready-img img {
  width: 100%;
}
@media (max-width: 500px) {
  .ready-section .ready-img {
    max-height: 150px;
  }
}
@media (min-width: 500px) {
  .ready-section .ready-img {
    max-height: 200px;
  }
}
@media (min-width: 700px) {
  .ready-section .ready-img {
    max-height: 300px;
  }
}
@media (min-width: 991px) {
  .ready-section .ready-img {
    max-height: 400px;
  }
}

footer {
  padding: 40px 0;
  background: linear-gradient(106deg, #232340 1.92%, #2f374e 41.78%, #404f65 94.77%);
  color: white;
}
footer h1 {
  color: white;
  font-size: 30px;
}
footer .news-subs p {
  font-size: 20px;
  font-weight: 300;
}
footer .input-holder {
  border-radius: 100px;
  background: rgba(243, 244, 245, 0.1);
  padding: 7px 8px 7px 25px;
  display: flex;
}
footer .input-holder input {
  all: unset;
  width: 80%;
}
footer .input-holder button {
  text-decoration: none;
  color: white !important;
  background-color: #4ABB82;
  border: 1.5px solid #4ABB82;
  border-radius: 100vw;
  padding: 10px 30px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 500;
  display: inline-block;
}
footer ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 400;
}
footer .social-icon {
  width: 24px;
  height: 24px;
}
footer .social-icon img {
  width: 100%;
}
footer .social-icon img:hover {
  filter: brightness(0) saturate(100%) invert(66%) sepia(52%) saturate(442%) hue-rotate(97deg) brightness(87%) contrast(85%);
}
footer .sub-footer-holder {
  border-bottom: 1px solid rgba(247, 248, 249, 0.2196078431);
}
@media (max-width: 992px) {
  footer {
    text-align: center;
    line-height: 40px;
  }
}

/*# sourceMappingURL=styles.css.map */
