body {
  //services tabs vars
  --tabs-icon-margin: auto 0 auto 10px;
}

body[dir="rtl"] {
  --tabs-icon-margin: auto 0 auto 10px;

  .more-link::after {
    left: -25px !important;
    right: auto;
    rotate: -180deg;
    transform: translateY(53%);
  }
}
