body{
    //services tabs vars
    --tabs-icon-margin:auto 0 auto 10px
}


body[dir="rtl"] {
    
        --tabs-icon-margin:auto 0 auto 10px;



        .more-link::after{
            content: ">";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left:-15px !important; 
            right: auto;
            
        }

}